.header_logo {
    font-size: 45px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700;
}
.header_logo:hover {
    color: whitesmoke;
} 

.main_menu a {
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: .4s ease all;
}

.main_menu a:hover {
    color: rgb(179, 168, 168);
    border-bottom: 2px solid rgb(179, 168, 168);
}