.service_home {
    box-shadow: 0 5px 25px 5px rgb(0 0 0 / 10%);
    transition: .4s ease all;
}

.service_home:hover {
    box-shadow: 0 5px 25px 5px rgb(0 0 0 / 20%);
}

.service_name {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 0;
    color: navy;
    background-color: rgba(0,0,0,0.01);
    border-radius: 10px;
    text-align: center;
    border-bottom: 3px solid transparent;
    transition: .4s ease-in all;
}

.service_home:hover .service_name {
    border-bottom: 3px solid navy;
}

.service_details {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
}

.regular_btn {
    font-weight: bolder;
}